<h1>김나연</h1>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>김나연에 대해서</title>
  <link rel="stylesheet" href="codelion.css">
</head>
<body>
  <div class="mainbox">
    <div class="title-box">
      <h1></h1>
      <p class="name-text">멋쟁이 사자처럼 10기</p>
    </div>
    <section>
      <h2>ABOUT ME</h2>
      <p class="about-me-text">
      동국대학교 식품산업관리학과 재학/취미 첼로/mbti infp
      </p>
    </section>
    <section>
        <h2>EXPERIENCE</h2>
        <div class="float-wrap">
          <p class="title-text">대광초등학교 졸업</p>
          <p class="year-text">2007-2013</p>
        </div>
        <p class="desc-text">창문여중 졸업</p>
        <p class="desc-subtext">2013-2015</p>
        <div class="float-wrap">
          <p class="title-text">서울외고 졸업</p>
          <p class="year-text">2015 - 2018</p>
        </div>
        <p class="desc-text">동국대학교 재학</p>
        <p class="desc-subtext">2018~</p>
        <div class="float-wrap">
        </div>
      </section>

      <section>
        <h2>ACTIVITIES</h2>
        <div class="float-wrap">
          <p class="title-text">라오스 해외봉사단</p>
          <p class="year-text">2018</p>
        </div>
        <p class="desc-text">kt&g 봉사단</p>
        <p class="desc-subtext">2018-2019</p>
        <div class="float-wrap">
          <p class="title-text">yaff미래 농식품 기획단</p>
          <p class="year-text">2019-2020</p>
        </div>
        <p class="desc-text">소셜벤처 마을 창업</p>
        <p class="desc-subtext">2020-2021</p>
        <div class="float-wrap">
          <p class="title-text">멋쟁이 사자처럼 10기</p>
          <p class="year-text">2022~</p>
        </div>
    </section>

    <div class="sns-wrap">
      <a href="http://facebook.com"><img class="sns-img" src="images/facebook.png"></a>
      <img class="sns-img" src="images/twitter.png">
      <img class="sns-img" src="images/linked-in.png">
      <img class="sns-img" src="images/insta.png">
    </div>
  </div>
  <footer>
      <p>Copyright All rights reserved. </p>
  </footer>
</body>
</html>
